<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpeg" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Vera Leandro Ivan</p>
        <p>Estudiante de Licenciatura en Sistemas</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eaque fuga? Explicabo cumque consectetur doloribus odio eveniet officia culpa laborum, excepturi architecto voluptatum ad expedita pariatur aliquid dolores quasi alias!</p>
        </span>
    </div>
</div>