<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"><img src="../../../assets/APLogo.png" id="logoAP"></a>
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/leandro-i-vera/"><img src="../../../assets/linkedinLogoCircular.png" id="linkedin"></a>
            <a href="https://www.instagram.com/leandro.vera1/"><img src="../../../assets/intaLogoCircular.png" id="instagram"></a>
            <a href="http://"><img src="../../../assets/githubLogo.png" id="github"></a>
            <button type="button" class="btn btn-outline-light">INGRESO</button>
        </div>
    </div>
</div>